<!DOCTYPE html>
<html>
<head>
  <title>Blogrh</title>

  <%= stylesheet_link_tag    "blogrh/application", media: "all" %>
  <%= javascript_include_tag "blogrh/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
